main{
    display: flex;
    flex-wrap:wrap;
    border-top: 2px solid black;

}

main figure{
    flex: 1 0 45%;
    background-image: linear-gradient(orange,black);
    width: 25%;
    height: 100vh;
    border-radius: 50%;
    padding: 0 20% ;

    
}

main section{
    flex: 1 0 45%;  
}

 h1{
    color: linear-gradient(green,white);
    color: white;
}