*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(171, 227, 249); */
    
}

body{
    background-color: rgb(171, 227, 249);  
}

header{
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    margin-bottom: 0.5%;
}


.light{
    background-color: rgb(171, 227, 249);
}

.dark{
    background-color: rgb(90, 0, 174);
}



#image{
    width: 3%;
    margin: 2%;
}